apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: <name>
provisioner: smb.csi.k8s.io
parameters:
  source: "//192.168.11.225/K3s.StorageClass/<name>"
  csi.storage.k8s.io/node-stage-secret-name: "smb-credentials"
  csi.storage.k8s.io/node-stage-secret-namespace: "default"
  createSubDir: "true"  # optional: create a sub dir for new volume
reclaimPolicy: Retain  # only retain is supported
volumeBindingMode: Immediate
mountOptions:
  - dir_mode=0700
  - file_mode=0700
  - uid=1001
  - gid=1001
